body{
    background-image: linear-gradient(180deg, rgb(94, 178, 94) , rgb(24, 208, 237));
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .item1, .item2{
    display: flex;
    justify-content: space-between;
    column-gap: 150px;
  }